@page
@model vezba.Pages.Reservation.AgnetSideModel
@{
	ViewData["Title"] = "Reservations";
}

@if(Model.errorMessage.Length>0){
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>}
else
	{
		
	
	<h2>List of  booked flights</h2>


<table class="table">
	<thead>
		<tr>
			<th>User</th>
			<th>From</th>
			<th>To</th>
			<th>Date and time</th>
			<th>Remaining seats</th>
			<th>Number of seats</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody id="logBody">
			
				
				@foreach(var item in Model.listFlights){
				
					if (item.Capacity < 5)
					{
						<tr bgcolor="#d96f7b"  >
							<td>@item.Username</td>
							<td>@item.From</td>
							<td>@item.To</td>
							<td>@item.Date</td>
							<td>@item.Capacity</td>
							<td>@item.Seats</td>
							<td>@item.Status</td>
							@if (item.Status == "Pending")
							{
							<form method="post" asp-page-handler="Answer"> 
								<td>
									<input type="text" hidden value="@item.Id" name="id">
									<input type="text" hidden value="@item.Seats" name="seats">
									<button type="submit" class="btn btn-success" value="accept" name="accept"> Accept</button>
									<button type="submit" class="btn btn-danger" value="decline" name="decline"> Decline</button>
								</td>
							</form>
						
							}

						</tr>
					}
				else
				{
					<tr  >
						<td>@item.Username</td>
						<td>@item.From</td>
						<td>@item.To</td>
						<td>@item.Date</td>
						<td>@item.Capacity</td>
						<td>@item.Seats</td>
						<td>@item.Status</td>
						@if (item.Status == "Pending")
						{
							<form method="post" asp-page-handler="Answer"> 
							<td>
								<input type="text" hidden value="@item.Id" name="id">
								<input type="text" hidden value="@item.Seats" name="seats">
								<button type="submit" class="btn btn-success" value="accept" name="accept"> Accept</button>
								<button type="submit" class="btn btn-danger" value="decline" name="decline"> Decline</button>
							</td>
							</form>
						
							
						}

						</tr>
					}
			
					

			
			
		}
		
	</tbody>
	
</table>

	}
	